@import 'tailwindcss';
@plugin 'daisyui';

/* synced-sources:start */
@source '../../../libs/it-speaks';
/* synced-sources:end */

@layer base {
  html,
  body {
    overscroll-behavior-y: none;
  }
}
